@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

body{
    font-family: 'Rajdhani', sans-serif;
    overflow: hidden;
    background: conic-gradient(from -90deg at 25% 115%,
     #ff0000, #ff0066, #ff00cc, #cc00ff, #6600ff, #0000ff, #0000ff, #0000ff, #0000ff);

}
.container{
    display: flex;
    width: 80%;
    height: 100vh;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.digitalClock{
    width: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 2px;
    color: white;
    background-color: rgba(0, 0, 0, 0.086);
}
.digitalClock h1{
    display: inline;
    margin: 0 10px;
    font-weight: bold;
    font-size: 5rem;

}

@media(max-width: 768px){
    #bar1, #bar2{
        display: none;
    }
    .digitalClock{
        text-align: center;
        width: 100%;
    }
    .digitalClock h1{
        display: block;
    }
}
@media(max-width: 480px){
    .digitalClock h1{
        font-size: 4rem;
    }
}